# this is a comment. They start with a "#".
# in this config file, comments and whitespace are ignored.
# any and all options are displayed here. If a option is 
# not found or has a error, it will appear in the log file,
# and the default will be used instead.

# config sections are defined by the syntax: "--<section name>--". The value <section name> must be in all caps.
# the general section is for main SecuriPi options
--GENERAL--

# whether to put SecuriPi into debug mode or not. Default is false
debug=false

# the network section is for the network manager. As in, the server and input and output streams
--NETWORK--

# the port that the server will run on. Default is 10010
port=10010

# the address that the server will listen on
listen=192.168.200.109

# the file selection is for the data retrieval system.
--FILE--

# the datadir is for the directory that the file manager will put and find data.
datadir=./data

# no options yet

--PASSWORD--

# no options yet 

--NETSCAN--

# no options yet